*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
    min-height:100vh;
    padding:30px;
}

.container{
    max-width:1200px;
    margin:auto;
}

.title{
    text-align:center;
    margin-bottom:30px;
}

.title h1{
    font-size:42px;
    color:#38bdf8;
}

.title p{
    color:#94a3b8;
    margin-top:10px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.card h2{
    margin-bottom:20px;
    color:#38bdf8;
}

.input-group{
    margin-bottom:15px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
}

.input-group input,
.input-group select{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#334155;
    color:white;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#38bdf8;
    color:black;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
}

.stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-bottom:25px;
}

.stat-box{
    background:#1e293b;
    padding:20px;
    border-radius:18px;
    text-align:center;
}

.stat-box h3{
    font-size:28px;
    color:#38bdf8;
}

.booking-item{
    background:#334155;
    padding:15px;
    border-radius:15px;
    margin-bottom:15px;
}

.booking-item h3{
    color:#38bdf8;
    margin-bottom:8px;
}

@media(max-width:900px){

    .grid{
        grid-template-columns:1fr;
    }

    .stats{
        grid-template-columns:1fr;
    }

}

.status-dipakai{
    color:#ef4444;
    font-weight:bold;
}

.status-selesai{
    color:#22c55e;
    font-weight:bold;
}